{% extends 'base.html' %}

{% load static %}
{% block title %}Image Recognition | AI Course-work{% endblock %}
{% block content %}

<div class="container">

  <div class="row">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="row">
    <div class="col col-sm-12">
      <form method="POST" action="/create_dataset">
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit" class="btn btn-primary">Create Dataset</button>
      </form>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col col-sm-12">
      <a href="/trainer" class="btn btn-warning">Train The Classifier</a>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col col-sm-12">
      <a href="/detect" class="btn btn-success">Detect By Webcam</a>
    </div>
  </div>

</div>

{% endblock %}
